body {
    background-color: wheat;
    font-family: 'Times New Roman', Times, serif;
    
}

.header {
    background-color: coral;
    color: blue;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

.soekarno {
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 5px;
}

.linkku{
    text-align: center;
}

.linkku ul li {
    display: inline-block;
}
.linkku ul li:hover {
    background-color: yellow;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gambar {
    text-align: center;
}

.isi {
    text-align: justify;
}

.jawa {
    font-size: 40px;
    color: blue;
}

.profil {
    text-align: justify;
}
.profil h3 {
    font-size: 30px;
}

.beternak {
    text-align: justify;
}
.beternak h3 {
    font-size: 30px;
}

.promo {
    text-align: center;
}
.promo ol li {
    list-style-type: none;
    display: inline-block;
}
.promo ol li:hover {
    background-color: yellow;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
